<%-include('header')-%>

<style>
    /* Fix for scroll jerking caused by zoom / layout shifts */
    html {
        overflow-y: scroll !important; 
        scroll-behavior: smooth !important;
    }
    body {
        overflow-anchor: none;
    }
</style>

<!--Body Content-->
<div id="page-content">
  <!--Page Title-->
  <div class="page section-header text-center">
    <div class="page-title">
      <div class="wrapper"><h1 class="page-width">Wishlist</h1></div>
    </div>
  </div>
  <!--End Page Title-->
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
        <% if(locals.wishlistItems){%>
        <form action="#" method="post" class="cart style2">
          <table>
            <thead class="cart__row cart__header">
              <tr>
                <th colspan="2" class="text-center">Product</th>
                <th class="text-center">Price</th>
                <th class="text-center">current stock</th>
                <th class="action">&nbsp;</th>
                <th class="action">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <% locals.wishlistItems.forEach(item => { %>
              <tr class="cart__row border-bottom line1 cart-flex border-top">
                <td class="cart__image-wrapper cart-flex-item">
                  <a href="#">
                    <img
                      data-product-id="<%= item.productId %>"
                      data-images="<%= JSON.stringify(item.images) %>"
                      class="cart__image"
                      class="img-fluid mx-auto mb-4"
                      src="<%= item.images[1] %>"
                      style="width: 100px; height: 100px"
                      alt="<%= item.productId %>"
                    />
                  </a>
                </td>
                <td class="cart__meta small--text-left cart-flex-item">
                  <div class="list-view-item__title">
                    <a><%= item.name %> </a>
                  </div>
                </td>
                <td
                  style="text-align: center"
                  class="cart__price-wrapper cart-flex-item"
                >
                  <span
                    id="unitPrice"
                    data-product-id="<%= item.productId %>"
                    class="money"
                    >$<%= item.unitPrice %></span
                  >
                </td>
                <td
                  style="text-align: center"
                  class="cart__price-wrapper cart-flex-item"
                >
                  <span
                    id="stockElement"
                    data-product-id="<%= item.productId %>"
                    data-product-stock="<%= item.stock %>"
                    class="money"
                    ><%= item.stock %></span
                  >
                </td>
                <td class="cart__update-wrapper cart-flex-item text-right">
                  <div class="cart__qty text-center">
                    <div class="qtyField">
                      <a
                        style="background-color: aqua"
                        href="/cart/<%= item.productId%>"
                        ><button
                          class="btn addto-cart"
                          type="button"
                          data-product-id="<%= item.productId %>"
                          tabindex="0"
                        >
                          Add To Cart
                        </button></a
                      >
                    </div>
                  </div>
                </td>

                <td class="text-center small--hide">
                  <a
                    href="#"
                    class="btn btn--secondary wishlist__remove"
                    title="Remo"
                    data-stock="<%= item.stock %>"
                    data-wishlist-id="<%= item.wishlistId %>"
                    ><i class="icon icon anm anm-times-l"></i
                  ></a>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </form>
      </div>

      <%}else{%>
      <h1>WISHLIST IS EMPTY</h1>
      <p>
        <a
          href="/"
          class="btn btn--has-icon-after"
          style="background-color: black; color: aliceblue"
          >Continue shopping <i class="fa fa-caret-right" aria-hidden="true"></i
        ></a>
      </p>

      <%}%>
    </div>
  </div>
</div>
<!--End Body Content-->

<%-include('footer')-%>

<script>
  const checkoutButton = document.getElementById("cartCheckout");
  function goToNextPage() {
    checkoutButton.disabled = false;
    checkoutButton.addEventListener("click", function (event) {
      event.preventDefault();
      window.location.href = "/checkout";
    });
  }
  goToNextPage();
</script>

<!-- remove wishlist -->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const removeLinks = document.querySelectorAll(".wishlist__remove");
    removeLinks.forEach((link) => {
      link.addEventListener("click", async (event) => {
        event.preventDefault();
        const productId = link.dataset.wishlistId;

        try {
          const response = await fetch(`/remove/wishlist/${productId}`, {
            method: "GET",
            headers: {
              "Content-Type": "application/json",
            },
          });
          const responseData = await response.json();
          if (!response.ok) {
            throw new Error(
              responseData.error || "Failed to remove item from wishlist"
            );
          }
          // link.closest('.wishlist-item').remove();
          window.location.reload();

          // alert(responseData.message );
        } catch (error) {
          alert(error.message || "Internal Server Error");
        }
      });
    });
  });
</script>
